.avatar {
  width: 100%;
  height: 250px;
}

.main {
 
}

img {
  width: 100%;
  height: 100%;
}

.aboutMe {
  border: 1px solid #b83d00;
  box-shadow: 5px;

  position: relative;
  background-color: #CC9966;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;

  top: -30px;

  margin: auto;
  padding: 15px;
  width: 200px;
  height: 250px;
}
h2 {
  margin: 5px;
}
h5 {
  margin: 0;
}

.profile {
  margin-top: 30px;
}