.flex, .main {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: auto 44px;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.group {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.content-group {
  width: 100%;
  margin-left: 12px;
}

.message-img {
  width: 30px;
  height: 30px;
}

.content {
  word-break: break-all;
  margin: 0;
  width: 100%;
}

.lock {
  flex: 0 0 18px;
  height: 18px;
  background-color: red;
}

.container {
  width: 350px;
}

.line-clamp-ellipsis {
    -webkit-line-clamp: 2;
}