<div class="container">
  <div class="main">
    <div >
      <img 
      class="avatar"
      src="https://cdn1.thr.com/sites/default/files/imagecache/768x433/2019/03/avatar-publicity_still-h_2019.jpg"/>
    </div>
    <div class="content-group">
      <div class="grid">
        <div class="flex title">
          <div class="group">Q12Q22Q12Q22Q12Q22Q12Q22Q12Q22Q12Q22Q12Q22Q12Q22</div>
          <div class="lock"></div>  
          <!-- <div class="remark">
          </div>   -->
        </div>
        <div class="date side-info">yesterday</div>
      </div>
      <div class="flex">
        <p class="content small-body line-clamp-ellipsis">{{data.lastMessage}}</p>
        <img class="message-img side-info"
          src="https://cdn1.thr.com/sites/default/files/imagecache/768x433/2019/03/avatar-publicity_still-h_2019.jpg"/>
        <div>
    </div>
  </div>
</div>