ul {
  height: 100px;
  width: 150px;
  overflow: auto;
  position: relative;

  border: 1px solid black;
}

.sensor {
  position: absolute;
  visibility: hidden;
  top: 90px;
  /* bottom: 50px; */

  width: 100px;
  height: 1px;
}