<div class="main">
	<!-- <div class="line">
		<hr size ="100" color="#000000">
    <div class="arrow"></div>
	</div> -->
	<div class="companies">
    <div>
			<h4>
        <span>香港商科銳股份有限公司, Feb 2018 ~ Now</span>
        <small>JUNIOR FRONTEND DEVELOPER</small>
      </h4>
			<div>主要客戶為大型供應商與零售商，商業核心為幫助零售商找商品，到零售商下單使供應商生產的一條龍服務。</div>
			<ul>
				<li>使用敏捷式開發</li>
				<li>Sprint planning討論UI細節與UX使用體驗</li>
				<li>參與新功能的開發會議</li>
				<li>討論新功能的方向與對現有系統影響</li>
				<li>開發前端網頁</li>
				<li>與後端串接</li>
				<li>關注團隊工作進度</li>
			</ul>
		</div>
		<div>
			<h4>
        <span>恆昇泰股份有限公司, Feb 2017 - Jul 2017</span>
        <small>/ JUNIOR WEB DEVELOPER</small>
      </h4>
			<div>主要是接政府專案的公司，從前端的表單設計到後端的需求邏輯。 </div>
			<ul>
				<li>老闆指派工作</li>
				<li>網頁初稿定案</li>
				<li>商業邏輯設計</li>
				<li>開發視覺樣板</li>
			</ul>
		</div>
	</div>
</div>