<app-two-column>
	<div class="basicInfo leftColumn">
    <app-basic-info></app-basic-info>
    <section>
      <h5>Contact</h5>
      0930373567<br>
      tt7919@gmail.com<br>
    </section>
	</div>
  <div class="rightColumn">
    <section class="function-area workExperience">
      <h2>Work Experiences</h2>
      <app-work-experiences></app-work-experiences>
    </section>
    <section class="function-area workExperience">
      <h2>Skills</h2>
      <div class="skill">
        <app-star [stars]="4" [title]="'Angular'"></app-star>
      </div>
      <div class="skill">
        <app-star [stars]="4" [title]="'TypeScript'"></app-star>
      </div>
      <div class="skill">
        <app-star [stars]="2" [title]="'Javascript'"></app-star>
      </div>
      <div class="skill">
        <app-star [stars]="1" [title]="'React'"></app-star>
      </div>
    </section>
  </div>

</app-two-column>