.avatar {
  width: 150px;
  height: 150px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicInfo > .message {
    text-align: center;
}

h4 {
  margin-bottom: 0px;
}

small {
  color: #ADADAD
}

.skill {
  display: flex;
  width: 100%;
}

.skill > span {
  flex: 2fr;
}