.avatar {
  width: 150px;
  height: 150px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicInfo > .message {
    text-align: center;
}