<app-two-column>
	<div class="basicInfo leftColumn">
		<div class="avatar">
			<img src="https://media.cakeresume.com/image/upload/s--A7OP50bE--/c_fill,g_face,h_300,w_300/v1582637832/ss0nl3pt9kls1dww5bh3.jpg">
  </div>
			<div>
				前端工程師
			</div>
			<div> tt7919@gmail.com </div>
			<p class="message">
				一個喜歡去實作使用者介面和喜歡去分析使用者體驗。<br>
			不斷精益求精，期望自己寫出來的程式碼能無限接近銀色子彈。<br>
			目前主要使用的程式語言是Angular與TypeScript。 
    </p>
	</div>
  <div class="rightColumn">
    <section class="workExperience">
      <h4>Work Experiences</h4>
      <div></div>
    </section>
  </div>

</app-two-column>