.leftColumn, .rightColumn {
  height: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column;

  background: #666;
  color: white;
}

.rightColumn {
  background-color: #FFFAF0;
}

.basicInfo > .message {
    text-align: center;
}

.workExperience {
  padding: 60px 40px 10px;
}

h2 {
  margin-top: 0;
}

h4 {
  margin-bottom: 0px;
}

small {
  color: #ADADAD
}

.skill {
  display: flex;
  width: 100%;
}
