.autoPlayer {
  position: relative;
}

.container {
  margin-left: 50px;
}


.content {
  display: flex;
}

.area {
  position: relative;
  /* transition-property: left;
  transition-duration: 4s; */
  left: 100px;

  background-color: blue;
}

.moveLeft {
  transition-property: left;
  transition-duration: 1s;
  transition-delay: 1s;
  left: 50px;
  z-index: 1
}

.moveRight {
  transition-property: left;
  transition-duration: 1s;
  transition-delay: 1s;
  left: 100px;
  z-index: 50;
}